@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
.htmlScreen iframe {
  width: 1150px;
  height: 680px;
  border: none;
  background: #000;
}
.htmlOffScreen main {
  width: 225.5px;
  height: 132px;
  border: none;
  cursor: pointer;
  background: #000;
}
.htmlOffScreen main div {
  display: flex;
  height: 100%;
  width: 100%;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.htmlScreen,
.htmlOffScreen {
  z-index: 10;
  pointer-events: auto;
}
.htmlScreen iframe,
.htmlOffScreen iframe {
  pointer-events: auto;
}
.htmlScreen,
.htmlOffScreen {
  position: absolute; /* Ensure absolute positioning inside the container */
  pointer-events: auto; /* Enable clickability */
  transform-origin: center; /* Ensure correct alignment when transformed */
  z-index: 10; /* Make sure it's above other elements */
}
